body {
    background-image: url('../src/assets/images/game_bg.jpg');
    background-attachment: fixed;
    background-repeat: repeat;
}

.App {
    background-color: rgba(255, 255, 255, 0.9);
    min-height: 100vh;
}

.app-header {
    /*  */
    min-height: 60px;
    max-height: 60px;
}

.app-main {
    /*  */
    min-height: calc(100vh - 110px);
}

.app-footer {
    /*  */
    min-height: 50px;
    max-height: 50px;
    background-color: #fefefe;
    min-width: 100vw;
}

.app-footer a {
    color: #f21e4e;
    text-decoration: none;
}
